<% layout('/layout/main') -%>

<div class="row">
    <div class="col-md-7">
        <a href="#" id="process">
            <div class="process">
                <h2>Process</h2>
            </div>
        </a>
    </div>
    <div class="col-md-5">
        <h1>Order #<span id="number"></span></h1>
        <h4>Status: <span id="status"></span></h4>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4</li>
            <li>item 5</li>
            <li>item 6</li>
            <li>item 7</li>
            <li>item 8</li>
        </ul>
    </div>
</div>