<% layout('/layout/main') -%>

<div class="row">
    <div class="col-md-12" id="new_one">
        <%= name %> joined
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" >
            <div class="input-group">
                <input type="text" name="message" class="form-control" placeholder="Your message">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </span>
            </div>
        </form>
    </div>
</div>

<div id="messages">
</div>